<%= form_with(model: @record, url: request.path, method: @record.persisted? ? :patch : :post, class: 'needs-validation') do |f| %>
  <div class="row g-3">
    <% (@resource_class.columns.map(&:name) - %w[id created_at updated_at]).each do |col| %>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <%= f.label col, col.titleize, class: 'form-label' %>
          <% if col.ends_with?('_id') %>
            <%= f.number_field col, class: 'form-control' %>
          <% else %>
            <%= f.text_field col, class: 'form-control' %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @resource_class == User %>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <%= f.label :password, 'Password', class: 'form-label' %>
          <%= f.password_field :password, class: 'form-control', autocomplete: 'new-password' %>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <%= f.label :password_confirmation, 'Password confirmation', class: 'form-label' %>
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'new-password' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="mt-3">
    <%= f.submit(@record.persisted? ? 'Zapisz' : 'Utwórz', class: 'btn btn-primary') %>
  </div>
<% end %>


