<!DOCTYPE html>
<html>
  <head>
    <title>Admin Login | Akademy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/favicons' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="bg-light d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div>
        <main class="col-12 col-md-9 col-lg-10 p-4">

        </main>
    </div>
    <div class="p-4 rounded shadow bg-white" style="width: 360px;">
        <% if notice %>
            <div class="alert alert-success"><%= notice %></div>
          <% end %>
          <% if alert %>
            <div class="alert alert-danger"><%= alert %></div>
          <% end %>

      <%= yield %>
    </div>
  </body>
</html>
