<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "register" %>
</head>

<body class="auth-body">
  <div>
    <% if alert.present? %>
      <div class="auth-alert auth-alert--error">
        <%= alert %>
      </div>
    <% end %>

    <% if notice.present? %>
      <div class="auth-alert auth-alert--success">
        <%= notice %>
      </div>
    <% end %>


    <%= yield %>
  </div>
</body>
</html>
